
.login-container {
    text-align: center;
    height: 900px;
}

.container {
    background-color: transparent;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
}

.container h1 {
  color: #FFF;
}

.nestedContainer {
  display: flex;
  flex-direction: column;
}

.itemStyle {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.item {
  display: inline-block;
}

.child {
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
}

.small {
  display: inline-block;
  width: auto;
  background-color: #777;
  font-size: 14px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  color: #FFF;
  text-align: left;
  padding-left: 20px;
  margin-top: 5%;
  font-size: 30px;
}

.DayPickerInput {
  width: 100%;
}

button {
 padding: 1%;
 font-size: 1rem;
 margin: 1%;
 background-color: #2F363A;
 color: #FFF;
 border: 2px solid #2F363A;
 width: 50%;
}
