.eventDetailcontainer {
  background-color: transparent;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 100%;
  height: 900px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFF;
}

  .root{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 60%;
  }

  .childitem {
    display: inline-block;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    align-content: center;
    margin-left: 20px;
    margin-top: 40px;
  }

.eventDetailcontainer .header {
  text-align: center;
}

label {
    font-size: 1.5rem;
    border: 1% solid #FFF;
    width: 15%;
    color: #FFF;
    font-weight: bold;
    margin-left: 30%;
  }

input {
  margin-left: 5%;
}

.input1 input {
  margin-left: 6.2%;
}

.eventDetailcontainer button {
  margin-top: 5%;
  margin-left: 45%;
}


.bottomDiv {
    height: 10%;
    width: 100%;
    background-color: #1863a0;
}
