
.shoppingcontainer {
    background-color: transparent;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
}

.sidebarDiv{
  display: inline-block;
  align-content: center;
  width: 30%;
  margin-top: 0%;
  background-color: transparent;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
}

.shoppingRightDiv {
  margin-left: 30%;
}

.shoppingleftDiv{
  width: 100%;
  margin-left: 50%;
}

.childitemDiv {

  justify-content: left;
  width: 100%;
}

.shoppingListMain .header input {
  padding: 1%;
  font-size: 1rem;
  border: 1% solid #FFF;
  width: 15%;
  margin-left: 25%;
}
.shoppingListMain .header button {
  padding: 1%;
  font-size: 1rem;
  margin: 1%;
  background-color: #2F363A;
  color: #FFF;
  border: 2px solid #2F363A;
  width: 15%;
}
.shoppingListMain .header1 input {
  padding: 1%;
  font-size: 1rem;
  border: 1% solid #FFF;
  width: 10%;
  margin-left: 1%;
}

.shoppingListMain .header1 select {
  padding: 1%;
  font-size: 1rem;
  border: 1% solid #FFF;
  width: 15%;
  height: 50%;
  margin-left: 30%;
}
.shoppingListMain .header1 label {
  padding: 1%;
  font-size: 1.2rem;
  border: 1% solid #FFF;
  width: 15%;
  color: #FFF;
  margin-left: 2%;
}
.shoppingListMain .header button:hover {
  background-color: #2F363A;
  border: 1% solid #2F363A;
  cursor: pointer;
}
.shoppingListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 80%;
  font-size: 2rem;
  margin-left: 2%;
}
.thelist2{
 vertical-align: text-top;
 margin: 0 auto;
 display: inline-block;
}
.shoppingListMain .theList .theList2 input {
  color: #FFF;
  background-color: rgba(255,255,255,.5);
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 3%;
  transition: background-color .2s ease-out;
  padding-left: 80%;
}
.shoppingListMain .theList .theList2 li {
  color: #FFF;
   padding: 2%;
   margin-bottom: 2%;
  border-radius: 3%;
  transition: background-color .2s ease-out;
  padding-left: 2%;
}

ul.theList {
  padding: 0;
}
.leftDiv{
  width: 100%;
  margin-left: 50%;
  margin-top: 5%;
}
.rightDiv {
  margin-left: 30%;
  margin-top: 2%;
}
.rightDiv div {

  padding-top: 3%;
}
.rightDiv textarea{
  padding: 1%;
  font-size: 1rem;
  border: 1% solid #FFF;
  width: 80%;
  height: 40%;
  margin-left: 0%;
  overflow: auto;
}

.guestTable td{
  margin-right: 25%;
}
.thelist2{
  display: inline-block;
 vertical-align: text-top;
 margin: 0 auto;
}

button {
  padding: 1%;
  font-size: 1rem;
  margin: 1%;
  background-color: #2F363A;
  color: #FFF;
  border: 2px solid #2F363A;
  width: auto;
}

.shoppingListMain .header2 input {
  padding: 1%;
  font-size: 1rem;
  border: 1% solid #FFF;
  width: 15%;
  margin-left: 35%;
  margin-top: 5%;
}

.shoppingListMain .header2 button {
  padding: 1%;
  font-size: 1rem;
  margin: 1%;
  background-color: #2F363A;
  color: #FFF;
  border: 2px solid #2F363A;
  width: 15%;
}

.bottomDiv {
  position: fixed;
  top: 725px;
  height: 10px;
  width: 100%;
  background-color: #1863a0;
}

.shoppingListMain .header {
  margin-top: 5%;
}

.rightDiv label {
    font-size: 1.3rem;
    border: 1% solid #FFF;
    width: 15%;
    color: #FFF;
    margin-left: 0%;
  }

.center button{
  padding: 1%;
  font-size: 1rem;
  margin-top: 5%;
  margin-left: 43%;
  background-color: #2F363A;
  color: #FFF;
  border: 2px solid #2F363A;
  width: 15%;
}

.list {
  margin-left: 43%;
}
