.jumbotron{
  width: 25%; height: 50%; float: left; margin-right: 5%; margin-left: 7%; margin-top: 5%; margin-bottom:5%;color:inherit;background-color:#eee
}
.jumbotron .jumboButton{
  white-space: normal;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  white-space: normal;
  padding-left: 5%;
  padding-right: 5%;
}
.jumbotron .h1,.jumbotron h1{
  color:inherit;
  margin-right:2%;
  margin-left: 5%;
  white-space: normal;
}
.jumbotron p{
  margin-bottom:5%;font-size:2rem;font-weight:200;margin-left: 15%;  align-items: center;
}
.jumbotron>hr{
  border-top-color:#d5d5d5
}
.container .jumbotron,.container-fluid .jumbotron{
  padding-right:5%;padding-left:5%;border-radius:2%;
}
.jumbotron .container{
  max-width:100%
}
.deleteIcon{
  float: right;
  margin-right: 5%;
}
@media screen and (min-width:768px)
{
  .jumbotron{
    padding-top:3%;padding-bottom:3%
  }
.container .jumbotron,.container-fluid .jumbotron{
  padding-right:5%;padding-left:5%
}
.jumbotron .h1,.jumbotron h1{
  font-size:4rem
  }
}

.btn-lg{
  padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    width: 70%;
    white-space: normal;
    padding-left: 5%;
    padding-right: 5%;
}
